body{
  background-color: #2c2f33;
  font-family: system-ui;
  font-size: 16px;
  margin: auto;
  max-width: 900px;
}
h2{
  color: #99aab5;
  padding: 10px;
}
p, ol, ul{
  color: #ffffff;
}
h1, a{
  color: #7289da;
}
