body{
  background-color: #2c2f33;
  font-family: system-ui;
  font-size: 16px;
  margin: auto;
  max-width: 900px;
}
h2, h3{
  color: #ffffff;
  padding: 10px;
}
p, ol, ul{
  color: #99aab5;
}
h1, a{
  color: #7289da;
}
h1{
  padding: 30px;
}
td, th{
  color: #99aab5;
  border: 2px solid #7289da;
}
table{
  border-collapse: collapse;
}
